  <!-- Topbar Start -->
  <div class="container-fluid px-0 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-4 text-center bg-secondary py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <i class="bi bi-envelope fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase mb-1">Escribenos</h6>
                    <span>contacto@esvegano</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center bg-primary border-inner py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 text-uppercase text-white"><i class="fa fa-solid fa-seedling fs-1 text-dark me-3"></i>es Vegano</h1>
                </a>
            </div>
        </div>
        <div class="col-lg-4 text-center bg-secondary py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase mb-1">___</h6>
                    <span>________</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="index.html" class="navbar-brand d-block d-lg-none">
        <h1 class="m-0 text-uppercase text-white"><i class="fa fa-solid fa-seedling fs-1 text-primary me-3"></i>Es Vegano?</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto mx-lg-auto py-0">
            <a href="/" class="nav-item nav-link active">Inicio</a>
            <a href="/listado-de-productos/" class="nav-item nav-link">Productos</a>
            <a href="/agregar-producto/" class="nav-item nav-link">Agregar Productos</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Categorias</a>
                <div class="dropdown-menu m-0">
                    <a href="#" class="dropdown-item">Alimentos</a>
                    <a href="#" class="dropdown-item">Cuidado Personal</a>
                    <a href="#" class="dropdown-item">Maquillaje</a>
                    <a href="#" class="dropdown-item">Aseo</a>
                    <a href="#" class="dropdown-item">Ropa y Accesorios</a>
                </div>
            </div>
            <a href="/contactenos/" class="nav-item nav-link">Contactenos</a>
        </div>
    </div>
</nav>
<!-- Navbar End -->
