<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Producto agregado con exito - ¿Es Vegano? </title>
    <%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/header.ejs') %>


 
    <div class="container mt-5">
        <h1 class="text-center mb-4">Mensaje recibido con Exito</h1>
       
    </div>



    <!-- Offer Start -->
    <div class="container-fluid bg-offer my-5 py-5">
        <div class="container py-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title position-relative text-center mx-auto mb-4 pb-3" style="max-width: 600px;">
                        <h2 class="text-primary font-secondary">Quieres pautar aca?</h2>
                        <h1 class="display-4 text-uppercase text-white">Publicidad es Vegano!</h1>
                    </div>
                    <p class="text-white mb-4">Este espacio está reservado para emprendimientos veganos que deseen visibilizar sus productos u ofrecer sus servicios.</p>
                    <a href="#" class="btn btn-primary border-inner py-3 px-5 me-3">Contactanos</a>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->


    
    <%- include('includes/footer.ejs') %>

    <%- include('includes/scripts.ejs') %>
</body>

</html>